/* P2P Layout */

body {
    padding-top: 70px;
    -webkit-transform: translate3d(0,0,0);
    /*background-image: url(/images/back.png);*/
    background-position: center center;
    color: #262626;
    height: 100%;
    width: 100%;
    will-change: top;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.panel-main {
  /*background-color: rgba(242, 242, 242, 0.9);*/
  border-width: 2px;
  border-color: #0B3C5D;
  font-family: "lato-light";
  margin: 10px;
}

.panel-head-one {
  font-family: "gotham-rounded-medium";
  text-transform: uppercase;
  color: #D9B310;
  font-weight: bold;
  background-color: #0B3C5D;
  padding: 5px;
  text-align: center;
}

.panel-head-two {
  font-family: "gotham-rounded-medium";
  text-transform: uppercase;
}

.panel-head-three {
  font-family: "lato-light";
  font-size: 16px;
  font-weight: bold;
  color: #D9B310;
}

.panel-body-one {
  font-family: "lato-light";
  font-size: 16px;
}

.text-white {
  color: #F2F2F2;
}

.nav-style {
	font-family: "gotham-rounded-medium";
}

.li-style {
	color: #F2F2F2;
}

@font-face {
	font-family:"gotham-rounded-medium";
	src: url('/fonts/gotham-rounded-medium.ttf');
}

@font-face {
	font-family:"lato-light";
	src: url('/fonts/lato-light.ttf');
}

#announcement-panel {
  float: left;
  width: 50%;
}

#schedule-panel {
  float: left;
  width: 50%;
  text-align: center;
}

#full-size {
  height:100%;
  width:100%;
}

.btn-primary-blue {
  background-color: #0B3C5D; 
  border-width: 1px; 
  border-color: #D9B310; 
  min-width: 100px; 
  color: #D9B310; 
  font-family: 'gotham-rounded-medium';
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary-yellow {
  background-color: #D9B310; 
  border-width: 1px; 
  border-color: #D9B310; 
  min-width: 100px; 
  color: #0B3C5D;
  font-family: 'gotham-rounded-medium'; 
  text-transform: uppercase;
  font-weight: bold;
}


#reservations-input .form-control{
  max-width: 300px;
}

/*Print components*/
#printable{display:none;}

@media print {
 #printable {display:block;}
 #reservations-content {display:none;}
}


/*Navbar*/
.navbar-inverse{
  background-color: #0B3C5D; 
  border:none;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 10px 15px;
}

@media (max-width: 991px) {

  /*Navbar responsiveness*/
  .navbar-fixed-top .navbar-brand {
    padding: 0 15px;
  }

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media (max-width: 758px){
  /* Admin Reservations Components*/
  #reservations-content{
    overflow: scroll;
  }

  #reservations-input .print-btn{
    margin-top: 10px;
  }
}